<div class="container card">
  <div *ngIf="userId == 0; else loggedIn">
    <nav class="navbar">
      <a class="navbar-brand" href="#">Recipe</a>
      <a class="nav-link" routerLink="/register">Register</a>
      <a class="nav-link" routerLink="/login">Login</a>
    </nav>
  </div>
  <ng-template #loggedIn>
    <nav class="navbar">
      <a class="navbar-brand" href="#">Recipe</a>
      <a class="nav-link" routerLink="/recipe/add">Add Recipe</a>
      <a class="nav-link" routerLink="/logout" (click)="logoutUser()">Log Out</a>
    </nav>
  </ng-template>
  <table class="table" *ngIf="recipes">
    <thead>
      <tr>
        <th>Name</th>
        <th>Food Type</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recipe of recipes">
        <td>
          <button type="button" class="btn btn-link" routerLink="/recipes/{{recipe.id}}">{{recipe.name}}</button>
        </td>
        <td>{{ foodType.foodType[recipe.foodType] }}</td>
      </tr>
    </tbody>
  </table>
</div>
